/* hoja de estilo para practica de arreglos*/
*{
  padding: 0; 
  margin: 0;
}

body{
    color: black;
    background-color: antiquewhite;
}
.encabezado{
font-size: 30px;
font-family: 'roboto';
justify-content: center;
display: flex;
}
.contorno{ 
  background-color: white;
  border: 2px solid black;
  margin-left: 100px;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-right: 1000px;
  padding: 80px;
  font-family: 'roboto';
  font-size: 20px;
}
.dentro{
  margin-top: -175px;
  font-weight: bold;
}
.textField{
  padding: 40px;
  margin-right: 20px;
  font-size: 20px;
  font-family: 'roboto';
  align-items: center;
  display: flex;
  margin-left: 30px;
}
.contorno2{ 
  background-color: white;
  border: 2px solid black;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 700px;
  padding: 200px;
  padding-bottom: 350px;
  font-family: 'roboto';                                                                                                                                                                                                                                                                                                                                                                     
  font-size: 20px;
  display: flex;
  position: absolute;
}
.boton{
  position: absolute;
  margin-top: -150px;
  margin-left: 50px;
  padding: 20px;
  font-family: 'roboto';
  font-size: 15px;
  font-weight: bold;
}

.l1{
  margin-left: -100px;
  position: absolute;
  margin-top: -70px;  
}

.pie {
  position: absolute;
  margin-top: 300px;
  width: 99.8%;
  background-color: lightblue;
  border: 2px solid black;
  text-align: center;
}
  