/*Diseño de cotizacion*/
*{
    padding: 0;
    margin: 0;
}
.fondo{
    background-image: url(/img/fondoAuto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    max-width: 100%;
}
body{
    background-color: #96b6e6;
    color: black;
}
#encabezado{
    color: #a5402c;
    font-size: 50px;
    background-color: #6DB634;
    height: auto;
    width: auto;
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#sub-encabezado{
    color: #a06c2b;
    text-align: center; 
    font-size: 40px;
}
.texto{
    color: white;
    font-family: Georgia;
    text-align: center;
    font-size: 38px; 
    text-align: center;
}

#contenedorC{
    width: 50%;
    min-width: 700px; /* Ancho mínimo */
    height: 1200px;
    background-color: #2a2015;
    margin: 0 auto;
}
#contenedor{
    width: 700px;
    height: 270px;
    margin: 0 auto; /* Mover la imagen o el background*/
}
.textfield{
    width: 200px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.textfield2{
    width: 200px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.boton{
    width: 300px;
    height: 50px;
    font-size: 25px;
}

#pieNavegacion {
    height: 10%;
    width: auto;
    background-color: #6DB634;
    text-align: center;
    padding: 3px;
    color: black;
    font-size: 20px;
}