/* diseño para la calculadoraIMC */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    margin: auto;
    margin-top: 10px;
    
}
#encabezado{
    color: #f08b27;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 40px;
}
#parrafo{
    color: black;
    margin-right: 270px;
    justify-content: justify;
    text-align: center;
    margin-left: 10px;
    font-size: 30px;

}
.label{
    font-size: 25px;
    margin: 25px;
    justify-content: left;
    text-align: left;
}
.label2{
    font-size: 25px;
    justify-content: left;
    text-align: left;
    margin: 50px;
    margin-left: 0px;
    margin-top: 10px;
}
.seccion{
    position: absolute;
    margin: 0px;
    margin-top: -50px;
    
}
.button{
    font-size: 30px;
    height: 50px;
    width: 200px;
    color: white;
    background-color: blue;
    margin-top: 30px;
    margin: 60px;
    position: absolute;
    margin-bottom: auto;
    top: 500px;
    left: 100px;
}
.textfield{
    height: 25px;
    width: 500px;
    font-size: 20px;
}
.contenedor{
    width: 900px;
    height: 650px;
    border: 2px solid blue;
    position: absolute;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    margin-top: 10px;
    border-radius: 10px;
    background-color: #f1f8f3;
}
.img{
    position: absolute;
    top: 0;
    left: 250px;
    transform: translateX(320px);
    transform: translateY(300y);
    width: 100%s;
    margin-top: 200px;
    height: 100%;

}

.img img {
    max-width: 100%;
    max-height: 100%;
}
#piePagina{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%; /* Altura del pie de página */
    background-color: #6edeaf;
    text-align: center;
    color: black;
    font-size: 30px;
    margin-bottom: -150px;
}