/* diseño de pagina index */

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(233, 222, 222);
}
#nombre{
    background-color: gray;
    height: 30px;
    width: 450px;
    font-family: 'roboto';
    border: 2px solid black;
}
.img {
    max-width: 300px;
    max-height: 300px;
}
#encabezado{
    background-color: aquamarine;
    height: 40px;
    width: auto;
    border: 2px solid black;
    font-family: 'roboto';
}
#grupo{
    background-color: burlywood;
    height: 30px;
    width: 450px;
    font-family: 'roboto';
    border: 2px solid black;
    font-size: 20px;
    
}
#prac01{
    border: 2px solid black;
    background-color: white;
    font-family: 'roboto';
    margin: 100px;
    padding: 200px;
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prac02 {
    border: 2px solid black;
    background-color: white;
    font-family: 'roboto';
    margin: 100px;
    padding: 200px;
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#prac03{
    border: 2px solid black;
    background-color: white;
    font-family: 'roboto';
    margin: 100px;
    padding: 200px;
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#prac04{
    border: 2px solid black;
    background-color: white;
    font-family: 'roboto';
    margin: 100px;
    padding: 200px;
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

