*{
    padding: 0;
    margin: 0;
}
.contenedor{
   padding: auto;
   width: auto;
}
#encabezado{
    font-size: 30px;
    font-family: 'roboto';
    color: black;
    text-align: center;
}
#encabezado2{
    font-size: 20px;
    font-family: 'roboto';
    color: black;
    text-align: center;
}
body{
    background-color: aquamarine;
}
.cmb{
   padding: 8px;
}
#button{
    padding: 5px;
}
#tablaMultiplicacion{
    font-size: 10px;
    font-family: 'roboto';
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding: 100px;
  }
  
  table td {
    padding: 10px;
    text-align: center;
    border: 4px solid black;
  }
  
  table img {
    max-width: 100px;
    max-height: 100px;
  }

#pie{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: blue; 
}
